/* 공통영역 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Noto+Serif+KR:wght@200;300;700&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: #333;
    line-height: 1.25em;
    text-decoration: none;
    list-style: none;
}

.font-serif {
    font-family: 'Noto Serif KR', serif;
    color: #333;
}

.block {
    display: block;
}

.blind {
    display: block;
    overflow: hidden;
    position: absolute !important;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.title_h4 {
    font-size: 24px;
}

/* // 공통영역 끝 */

/* 헤더 css */
#wrap {
    width: 100%;
    height: 960px;
    background: #e0e6ea;
    position: relative;
    overflow: hidden;
}

#wrap:after {
    background: url(../images/bg_edge.png)no-repeat;
    display: block;
    clear: both;
    content: '';
    width: 318px;
    height: 353px;
    position: absolute;
    top: 110px;
    left: 90px;
    -webkit-animation: vibrate-1 2s linear 1s infinite both;
    animation: vibrate-1 2s linear 1s infinite both;
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-4px, 4px);
        transform: translate(-4px, 4px);
    }

    40% {
        -webkit-transform: translate(-4px, -4px);
        transform: translate(-4px, -4px);
    }

    60% {
        -webkit-transform: translate(6px, 6px);
        transform: translate(6px, 6px);
    }

    80% {
        -webkit-transform: translate(4px, -6px);
        transform: translate(4px, -6px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

#wrap:before {
    background: url(../images/bg_edge.png)no-repeat;
    display: block;
    clear: both;
    content: '';
    width: 318px;
    height: 353px;
    position: absolute;
    top: 220px;
    left: -60px;
    transform: rotate(-180deg);
}

#wrap .inner {
    width: 1600px;
    height: 960px;
    margin: 0 auto;
    position: relative;
    background: url(../images/bg_line.png)no-repeat center center
}

#header {
    width: 100%;
    height: auto;
    position: relative;
    top: 60px;
}

#header:after {
    display: block;
    clear: both;
    content: '';
}

#header .h_menu {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
#header .h_menu .hm_wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    
}

#header .h_menu .hm_wrap ul{
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 201;
    width: 480px;
    height: 500px;    
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
    transform: translate(-50%,-50%);

}
#header .h_menu .hm_wrap li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    height: 60px;
    margin: 20px 0;
    text-align: left;
}

#header .h_menu .hm_wrap a {
    display: block;
    padding-left: 40px;
    font-size: 50px;
    font-weight: 600;
    color: transparent;
    line-height: 60px;
    letter-spacing: -1px;
    -webkit-text-stroke: 1px #fff;
    white-space: nowrap;
    opacity: 0.5;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#header .h_menu .hm_wrap a:hover{
    color:#fff;opacity:1;
}
#header .h_menu.open .hm_wrap ul {
    pointer-events: auto;
    opacity: 1;
    z-index:201;
}
#header .h_menu .hm_wrap:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 8;
    overflow: hidden;
    width: 2%;
    height: 2%;
    margin-top: -1%;
    margin-left: -1%;
    border-radius: 50%;
    background-color: #0f0f10;
    transition: 0.5s;
}


#header .h_menu.open .hm_wrap:before {
    width: 11000%;
    height: 11000%;
    margin-top: -5500%;
    margin-left: -5500%;
    background-color: #0c0c0c;
    opacity: 0.9;
    z-index:200;
}

#header .h_menu .hm_btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 12;
    float: left;
    width: 80px;
    height: 20px;
    background:transparent;
    cursor: pointer;
    z-index: 201;
}

#header .h_menu .hm_btn:before {
    content: "MENU";
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -20px;
    font-size: 13px;
    font-weight: 600;
    color: #000;
    line-height: 40px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#header .h_menu:hover .hm_btn:before {
    -webkit-animation: bounce-in-top 0.6s reverse both;
    animation: bounce-in-top 0.6s reverse both;
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

#header .h_menu .hm_btn:after {
    opacity: 0;
    content: "OPEN";
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -10px;
    font-size: 13px;
    font-weight: 600;
    color: #000;
    line-height: 40px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    z-index: 201;
}
#header .h_menu .hm_btn.changed:after {
    opacity: 0;
    content: "Close";
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -10px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    line-height: 40px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    z-index: 201;
}
#header .h_menu.open .hm_btn i.changed:after {
    width: 7px; background:#fff;
}
#header .h_menu.open .hm_btn i.changed:before {
    width:7px; background:#fff;
}


#header .h_menu:hover .hm_btn:after {
    margin-top: -20px;
    opacity: 1;
    -webkit-animation: roll-in-left 0.6s ease-out both;
    animation: roll-in-left 0.6s ease-out both;
}

@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

#header .h_menu .hm_btn i {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 50%;
    width: 13px;
    height: 13px;
    margin-top: -6.5px;
    margin-left: -6.5px;
    transform: rotate(-45deg);
    transition: 0.3s;
}
#header .h_menu.open .hm_btn i:after {
    width: 7px;
}
#header .h_menu.open .hm_btn i:before {
    width:7px;
}

#header .h_menu .hm_btn i:nth-child(1) {
    transform: rotate(45deg);
}

#header .h_menu .hm_btn i:nth-child(2) {
    transform: rotate(-45deg);
}

#header .h_menu .hm_btn i:before {
    clear: both;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 3px;
    height: 3px;
    margin-top: -1.5px;
    border-radius: 1.5px;
    background: #000;
}

#header .h_menu:hover .hm_btn i:before {
    left: -3px;
    transition: 0.5s;
}

#header .h_menu .hm_btn i:after {
    clear: both;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 3px;
    height: 3px;
    margin-top: -1.5px;
    border-radius: 1.5px;
    background: #000;
}

#header .h_menu:hover .hm_btn i:after {
    right: -3px;
    transition: 0.5s;
}

#header .h_menu h2 {
    font-size: 16px;
    font-weight: 800;
}

#header .h_logo {
    float: right;
}

#header .h_logo a {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 105px;
    height: 32px;
    background: url(../images/logo.jpg)no-repeat right center;
    background-size: 100% auto;
}

#header .h_menu .hm_wrap strong {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 10px;
    
    height: 20px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: right;
}

.slogan {
    position: absolute;
    left: 151px;
    top: 50%;
    text-align: left;
    margin-top: -142.5px
}

.slogan_txt1 {
    -webkit-animation:
        focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    font-size: 76px;
    font-weight: 700;
}


@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


.slogan_txt2 {
    -webkit-animation: focus-in-expand 0.8s;
    animation: focus-in-expand 0.8s;
    font-size: 28px;
    color: #676767;
    margin-top: 24px;
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.slogan_txt3 {
    font-size: 20px;
    color: #676767;
    margin-top: 42px;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.scrolldown {
    -webkit-animation-name: scrolldown;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    position: absolute;
    bottom: 72px;
    left: 50%;
    transform: translateX(-50%);
}

.scrolldown p {
    color: #676767;
}

.scrolldown:after {
    display: block;
    clear: both;
    content: '';
    width: 15px;
    height: 16px;
    background-image: url(../images/down_arrow.png);
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -7.5px;
}

@keyframes scrolldown {
    0% {}

    100% {
        bottom: 82px;
    }
}

.edge_txt {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 72px;
    left: -0;
    transform-origin: top left;
}

.edge_txt strong {
    margin-right: 20px;
    display: inline-block;
    color: #676767
}

.edge_txt span {
    opacity: 50%;
}

.photo_wrap {}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.photo_box {
    -webkit-animation: heartbeat 2s ease-in-out infinite both;
    animation: heartbeat 4s ease-in-out infinite both;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 0 160px 160px 0;
    background: linear-gradient(#09184c, #22346f);
    position: absolute;
    right: 160px;
    top: 50%;
    margin-top: -300px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 20px 20px 50px
}

.photo_box .image {
    width: 360px;
    height: 460px;
    border-radius: 0 140px 140px 0;
    background: #e3e3e3 url(../images/character.png)no-repeat center center;
}

.photo_box .image:hover {
    background: #e3e3e3 url(../images/character_action.png)no-repeat center center;
}

.photo_wrap .about {
    display: block;
    background: #233571;
    padding: 30px 240px 30px 45px;
    position: absolute;
    right: 160px;
    bottom: 160px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.2) 20px 20px 50px;
}

.photo_wrap .about:hover {
    background: #fff;
    color: #333;
    transition: 1s;
}

.photo_wrap .about:after {
    display: block;
    clear: both;
    content: '';
    width: 38px;
    height: 28px;
    background-image: url(../images/aboutme_arrow.png);
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
}

.photo_wrap .about:hover:after {
    right: 30px;
    transition: 1s;
    background-image: url(../images/aboutme_arrow_over.png);
}

/* 헤더 css 끝 */

/* 콘텐츠 css */

/* section01 */
.myportfolio {
    display: flex;
    width: 100%;
}

.myportfolio>div {
    width: 33.3333%;
    background: #fffef9;
    height: 540px;
    border-bottom: 1px solid #333;

}

.myportfolio>div:nth-child(1) {
    border-right: 1px solid #333;
}

.myportfolio>div:nth-child(2) {
    border-right: 1px solid #333;
    background: #fffef9 url(../images/myportfolio_img01.jpg)no-repeat center bottom 95px;
}

.myportfolio>div:nth-child(3) {
    background: #fffef9 url(../images/myportfolio_img02.jpg)no-repeat center bottom 95px;
}

.myportfolio>div:hover:nth-child(2),
.myportfolio>div:hover:nth-child(3) {
    background-position: center bottom 110px;
    transition: 0.5s;
}

.myportfolio>div:nth-child(1) h3 {
    font-size: 36px;
    font-weight: 700;
    margin: 90px 0 0 60px;
}

.myportfolio>div:nth-child(2) .tit-box,
.myportfolio>div:nth-child(3) .tit-box {
    margin: 90px 0 0 60px;
}

.myportfolio>div:nth-child(2) .tit-box h4,
.myportfolio>div:nth-child(3) .tit-box h4 {
    margin-bottom: 6px;
}

.myportfolio>div .more {
    font-size: 14px;
    color: #676767;
    position: relative;
}

.myportfolio>div .more:after {
    display: block;
    clear: both;
    content: '';
    background: #676767;
    width: 17px;
    height: 1px;
    position: absolute;
    right: -30px;
    bottom: 3px
}

.myportfolio>div .more:before {
    display: block;
    clear: both;
    content: '';
    background: #676767;
    width: 7px;
    height: 1px;
    position: absolute;
    bottom: 6px;
    right: -30px;
    transform: rotate(45deg);
}


.myportfolio>div .more:hover:before {
    right: -40px;
    transition: 0.3s;
}

.myportfolio>div .more:hover:after {
    right: -40px;
    transition: 0.3s;
}

/* section01 끝 */

/* section02 시작*/
.skill {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row
}

.skill>div {
    box-sizing: border-box;
    width: 50%;
    height: 580px;
}

.skill>div:nth-child(1) {
    border-right: 1px solid #333;
    background: #fffef9;
    border-bottom: 1px solid #333;
}

.skill>div:nth-child(2) {
    border-bottom: 1px solid #333;
}

.skill>div:nth-child(3) {
    border-right: 1px solid #333;
}

.skill>div:nth-child(2) h3,
.skill>div:nth-child(3) h3 {
    font-size: 68px;
    color: #fff;
    margin-bottom: 30px;
}

.skill>div:nth-child(1) h4,
.skill>div:nth-child(4) h4 {
    margin-bottom: 60px;
}

.skill>div:nth-child(1) ul,
.skill>div:nth-child(4) ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.skill>div:nth-child(1) ul li,
.skill>div:nth-child(4) ul li {
    width: 33.333%;
    margin-bottom: 30px;
}


.skill>div:nth-child(4) {
    background: #fffef9;
}

.skill .develops_box,
.skill .design_box {
    text-align: center;
    padding-top: 90px;
    box-sizing: border-box;
}

.skill .txt-box p,
.skill .txt-box span {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.6em
}

.skill .tab_box {
    background: url(../images/bg_skill_tab.jpg);
}

.skill .slide_box {
    overflow: hidden;
    position: relative;
}

.skill .slide_box .owl-stage {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.skill .slide_box .custom1 {
    width: 100%;
}

.skill .slide_box .custom1 .item {
    width: 100% !important;
}

.slide_box .bk {
    display: block;
    clear: both;
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 30%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.skill>div {
    position: relative;
}

.skill>div .txt-box {
    position: absolute;
    bottom: 90px;
    left: 90px;
    z-index: 11;
}

.develops_box {}

.develops_box .pie-chart,
.design_box .pie-chart {
    position: relative;
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    transition: 0.3s;
    text-align: center;
}

.develops_box ul li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
}

.develops_box ul li:after {
    display: block;
    clear: both;
    content: '';
    background: url(../images/spr_img.png)no-repeat;
    width: 56px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.develops_box ul li:hover:after {
    display: block;
    clear: both;
    content: '';
    transition: 1s;
    animation: jello 0.9s both;
    transform: translate(-50%, -50%);
}

.develops_box ul li:hover:before {
    display: block;
    clear: both;
    content: 'click';
    color: #fff;
    padding: 10px 5px;
    background: #000;
    opacity: 0.5;
    border-radius: 20px;
    position: absolute;
    width: 60px;
    padding: 5px;
    z-index: 13;
    animation: text-blur-out 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }

    100% {
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}

@keyframes jello {
    0% {
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
    }

    30% {

        transform: translate(-50%, -50%) scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: translate(-50%, -50%)scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: translate(-50%, -50%) scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: translate(-50%, -50%) scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: translate(-50%, -50%) scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
    }
}

.design_box ul li:hover:before {
    display: block;
    clear: both;
    content: 'click';
    color: #fff;
    padding: 10px 5px;
    background: #000;
    opacity: 0.5;
    border-radius: 20px;
    position: absolute;
    width: 60px;
    padding: 5px;
    z-index: 10;
    animation: text-blur-out 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }

    100% {
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}

@keyframes jello {
    0% {
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
    }

    30% {

        transform: translate(-50%, -50%) scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: translate(-50%, -50%)scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: translate(-50%, -50%) scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: translate(-50%, -50%) scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: translate(-50%, -50%) scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
    }
}


.design_box ul li:hover:after {
    display: block;
    clear: both;
    content: '';
    transition: 0.5s;
    animation: jello 0.9s both;
}

.develops_box ul li:nth-child(2):after {
    background-position: -76px 0
}

.develops_box ul li:nth-child(3):after {
    background-position: -152px 0
}

.develops_box ul li:nth-child(4):after {
    background-position: 0 -102px;
    width: 75px
}

.develops_box ul li:nth-child(5):after {
    background-position: -96px -101px;
    width: 62px;
}

.develops_box span.center,
.design_box span.center {
    background: #fffef9;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    transform: translate(-50%, -50%);
}

.design_box ul li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
}

.design_box ul li:after {
    display: block;
    clear: both;
    content: '';
    background: url(../images/spr_img.png)no-repeat;
    width: 69px;
    height: 68px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.design_box ul li:nth-child(1):after {
    background-position: 0 -200px;
}

.design_box ul li:nth-child(2):after {
    background-position: -89px -200px;
}

.design_box ul li:nth-child(3):after {
    background-position: -177px -200px;
}

.design_box ul li:nth-child(4):after {
    background-position: 0 -288px;
    width: 45px;
}



.tabs .tab-content {
    overflow: hidden;
}

.tabs .tab-menu {
    display: flex;
}

.tabs .tab-menu li {
    width: 25%;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.tabs .tab-menu li:hover {
    background: #fff;
    opacity: 0.75;
    transition: 0.5s;
}

.tabs .tab-menu li:hover a {
    color: #111;
    transition: 0.5s;
}

.tabs .tab-menu li:last-child {
    border-right: none;
}

.tabs .tab-menu li a {
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* section02 끝 */
/* content 끝 */

/* Footer 시작 */
#footer {}

.footup ul {
    display: flex
}

.footup ul li {
    width: 33.333%;
    padding: 40px 90px;
    position: relative;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    display: flex;
}

.footup ul li:nth-child(3) {
    border-right: none;
}

.footup ul li span {
    display: inline-block;
    position: absolute;
    right: 90px;
}

.footup ul li strong {
    display: inline-block;
}

.footup ul li strong:after {
    display: block;
    clear: both;
    content: '';
    width: 36px;
    height: 36px;
    position: absolute;
    left: 52px;
    top: 50%;
    transform: translateY(-50%);
}

.footup ul li:nth-child(1) strong:after {
    background: url(../images/foot_ico_tel.jpg)no-repeat;
}

.footup ul li:nth-child(2) strong:after {
    background: url(../images/foot_ico_mail.jpg)no-repeat;
}

.footup ul li:nth-child(3) strong:after {
    background: url(../images/foot_ico_insta.jpg)no-repeat;
}

.footdown {
    text-align: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 40px 0;
}

.footdown p:nth-child(2) {
    margin-top: 10px;
    color: #676767
}

/* Footer 끝 */

/* 반응형 */
@media screen and (max-width: 1600px) {
    #wrap .inner {
        width: 100%;
    }
}


/* 플러그인 sliclslide */
.visual {
    position: relative;
}

.visual img {
    width: 100%;
    height: auto;
}

.visual button {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 71px;
    height: 71px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    z-index: 101;
}

.visual button:hover {
    cursor: pointer;
}

.visual button::before {
    display: block;
    clear: both;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 45px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.visual button.slick-prev {
    right: 71px;
    font-size: 0;
    color: transparent;
    border-right: 1px solid #000;
}

.visual button.slick-prev::before {
    content: "\f104";
}

.visual button.slick-next {
    right: 0;
    font-size: 0;
    color: transparent;
}

.visual button.slick-next::before {
    content: "\f105"
}